<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="{{ site.color_scheme == 'dark' | default: '#3a3a3a' }}">
<meta name="description" content="{{ page.excerpt | default: site.description }}">
<title>{{ page.title | default: site.title }}{% if page.title != site.title %} &middot; {{ site.title }}{% endif %}</title>
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}">
<link rel="canonical" href="{{ page.url | absolute_url }}">
{% seo %}