<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
        <ul class="visible-links">
          <li class="masthead__menu-item">
            <a href="{{ '/about/' | relative_url }}">About</a>
          </li>
          <li class="masthead__menu-item">
            <a href="{{ '/publications/' | relative_url }}">Publications</a>
          </li>
          {% if site.data.cv %}
          <li class="masthead__menu-item">
            <a href="{{ '/cv/' | relative_url }}">CV</a>
          </li>
          {% endif %}
        </ul>
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">Toggle menu</span>
          <div class="navicon"></div>
        </button>
      </nav>
    </div>
  </div>
</div>